.div-admin {
  	margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.form-admin {
    border: 1px solid #cccccc;

}




.tabellaAdmin th,
.tabellaAdmin td {
  text-align: center;
  padding: 5px;
}