.container-admin {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
}

.form-admin {
    border: 1px solid #cccccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}