@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
     margin: 0;
    font-family: 'Patrick Hand', cursive;
    color: #333333;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: #fdfaf0;
    padding: 40px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 48px;
    color: #2e5726;
    margin: 20px;
}

.section {
    background-color: white;
    padding: 20px 20px;
    text-align: center;
}

.section h1,
.section h2 {
    font-size: 32px;
    color: #2e5726;
    margin-bottom: 20px;
}

.section img {
    max-height: 200px; 
    object-fit: cover;
}


.bottone,
button {
    background-color: #2e5726;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

button:hover,
.bottone:hover {
    background-color: #1a3a14;
}

form {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    max-width: 500px;
    margin: 40px auto;
    text-align: center;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

a {
    color: #2e5726;
    font-weight: bold;
    text-decoration: none;
}

p {
	font-size: 20px;
}


.errore {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    text-align: left;
    font-weight: bold; 
}