@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
    margin: 0;
    font-family: 'Patrick Hand';
    color: #333333;
    background-color: #fff;
}


.hero {
    background-color: #fdfaf0;
    padding: 80px 0;
    text-align: center;
}

.hero .logo {
    max-width: 250px;
    margin-bottom: 20px;
}

.hero h1 {
    font-family: 'Patrick Hand';
    font-size: 64px;
    color: #2e5726;
    margin: 0 0 10px 0;
}

.section {
    padding: 60px 20px;
    text-align: center;
}

.section h2 {
    font-family: 'Patrick Hand', cursive;
    font-size: 48px;
    color: #2e5726;
    margin: 0 0 30px 0;
}

.light {
    background-color: #fdfaf0;
}

.footer {
    background-color: #2e5726;
    color: #fdfaf0;
    padding: 50px 20px;
    text-align: center;
}

.footer h3 {
    font-family: 'Patrick Hand', cursive;
    font-size: 40px;
    margin: 0 0 10px 0;
}
